.elementor-53 .elementor-element.elementor-element-8ae48ae > .elementor-container {
    max-width: 1366px;
}

.elementor-53 .elementor-element.elementor-element-8ae48ae:not(.elementor-motion-effects-element-type-background), .elementor-53 .elementor-element.elementor-element-8ae48ae > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-53 .elementor-element.elementor-element-8ae48ae {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-53 .elementor-element.elementor-element-8ae48ae > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-53 .elementor-element.elementor-element-b191662.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-53 .elementor-element.elementor-element-b191662.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-53 .elementor-element.elementor-element-b191662:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-53 .elementor-element.elementor-element-b191662 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-53 .elementor-element.elementor-element-b191662 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 12px 0px 12px 12px;
}

.elementor-53 .elementor-element.elementor-element-b191662 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-325e081 {
    text-align: left;
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-53 .elementor-element.elementor-element-947379a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-53 .elementor-element.elementor-element-947379a.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-53 .elementor-element.elementor-element-947379a > .elementor-element-populated {
    padding: 0px 12px 0px 0px;
}

.elementor-53 .elementor-element.elementor-element-dee2d02 .uael-nav-menu__toggle {
    text-align: right;
}

.elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item a.uael-menu-item, .elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item a.uael-sub-menu-item {
    padding-left: 15px;
    padding-right: 15px;
}

.elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item a.uael-menu-item, .elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item a.uael-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item a.uael-menu-item {
    font-family: "Signika", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item a.uael-menu-item:not(.elementor-button), .elementor-53 .elementor-element.elementor-element-dee2d02 .sub-menu a.uael-sub-menu-item {
    color: var(--e-global-color-primary);
}

.elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item a.uael-menu-item:not(.elementor-button):hover,
.elementor-53 .elementor-element.elementor-element-dee2d02 .sub-menu a.uael-sub-menu-item:hover,
.elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item.current-menu-item a.uael-menu-item:not(.elementor-button),
.elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item a.uael-menu-item.highlighted:not(.elementor-button),
.elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item a.uael-menu-item:not(.elementor-button):focus {
    color: var(--e-global-color-secondary);
}

.elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item.current-menu-item a.uael-menu-item:not(.elementor-button),
.elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item.current-menu-ancestor a.uael-menu-item:not(.elementor-button),
.elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item.custom-menu-active a.uael-menu-item:not(.elementor-button) {
    color: var(--e-global-color-accent);
}

.elementor-53 .elementor-element.elementor-element-dee2d02 .sub-menu,
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown,
.elementor-53 .elementor-element.elementor-element-dee2d02 .uael-nav-menu nav.uael-dropdown-expandible,
.elementor-53 .elementor-element.elementor-element-dee2d02 .uael-nav-menu nav.uael-dropdown-expandible .menu-item a.uael-menu-item,
.elementor-53 .elementor-element.elementor-element-dee2d02 .uael-nav-menu nav.uael-dropdown-expandible .menu-item .sub-menu,
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown .menu-item a.uael-menu-item,
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown .menu-item a.uael-sub-menu-item {
    background-color: #fff;
}

.elementor-53 .elementor-element.elementor-element-dee2d02 .sub-menu li a.uael-sub-menu-item,
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown li a.uael-menu-item,
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown li a.uael-sub-menu-item,
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown-expandible li a.uael-menu-item {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-53 .elementor-element.elementor-element-dee2d02 ul.sub-menu {
    width: 220px;
}

.elementor-53 .elementor-element.elementor-element-dee2d02 .sub-menu li a.uael-sub-menu-item,
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown li a.uael-menu-item,
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown li a.uael-sub-menu-item,
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown-expandible li a.uael-menu-item,
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown-expandible li a.uael-sub-menu-item {
    padding-left: 15px;
    padding-right: 15px;
}

.elementor-53 .elementor-element.elementor-element-dee2d02 .sub-menu a.uael-sub-menu-item,
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown li a.uael-menu-item,
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown li a.uael-sub-menu-item,
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown-expandible li a.uael-menu-item,
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown-expandible li a.uael-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-53 .elementor-element.elementor-element-dee2d02 .sub-menu li.menu-item:not(:last-child),
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown li.menu-item:not(:last-child),
.elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px;
}

@media (max-width: 1024px) {
    .elementor-53 .elementor-element.elementor-element-8ae48ae {
        padding: 0px 20px 0px 20px;
    }

    .elementor-53 .elementor-element.elementor-element-b191662 > .elementor-element-populated {
        padding: 12px 0px 12px 0px;
    }

    .elementor-53 .elementor-element.elementor-element-325e081 img {
        width: 100%;
        height: 32px;
    }

    .elementor-bc-flex-widget .elementor-53 .elementor-element.elementor-element-947379a.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-53 .elementor-element.elementor-element-947379a.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-53 .elementor-element.elementor-element-947379a.elementor-column > .elementor-widget-wrap {
        justify-content: flex-end;
    }

    .elementor-53 .elementor-element.elementor-element-947379a > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item a.uael-menu-item, .elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item a.uael-sub-menu-item {
        padding-left: 8px;
        padding-right: 8px;
    }

    .elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item a.uael-menu-item {
        font-size: 14px;
    }

    .elementor-53 .elementor-element.elementor-element-dee2d02 .sub-menu li a.uael-sub-menu-item,
    .elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown li a.uael-menu-item,
    .elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown li a.uael-sub-menu-item,
    .elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown-expandible li a.uael-menu-item {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-53 .elementor-element.elementor-element-dee2d02 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media (max-width: 767px) {
    .elementor-53 .elementor-element.elementor-element-8ae48ae {
        padding: 0px 0px 0px 0px;
    }

    .elementor-53 .elementor-element.elementor-element-b191662 {
        width: 50%;
    }

    .elementor-53 .elementor-element.elementor-element-b191662 > .elementor-element-populated {
        padding: 0px 0px 0px 15px;
    }

    .elementor-53 .elementor-element.elementor-element-325e081 img {
        width: 100%;
        height: 32px;
    }

    .elementor-53 .elementor-element.elementor-element-947379a {
        width: 50%;
    }

    .elementor-53 .elementor-element.elementor-element-947379a.elementor-column > .elementor-widget-wrap {
        justify-content: flex-end;
    }

    .elementor-53 .elementor-element.elementor-element-947379a > .elementor-element-populated {
        padding: 0px 15px 0px 0px;
    }

    .elementor-53 .elementor-element.elementor-element-dee2d02 .menu-item a.uael-menu-item {
        font-size: 16px;
        line-height: 22px;
    }

    .elementor-53 .elementor-element.elementor-element-dee2d02 .sub-menu li a.uael-sub-menu-item,
    .elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown li a.uael-menu-item,
    .elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown li a.uael-sub-menu-item,
    .elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown-expandible li a.uael-menu-item {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-53 .elementor-element.elementor-element-dee2d02 .sub-menu a.uael-sub-menu-item,
    .elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown li a.uael-menu-item,
    .elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown li a.uael-sub-menu-item,
    .elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown-expandible li a.uael-menu-item,
    .elementor-53 .elementor-element.elementor-element-dee2d02 nav.uael-dropdown-expandible li a.uael-sub-menu-item {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

@media (min-width: 768px) {
    .elementor-53 .elementor-element.elementor-element-b191662 {
        width: 41.211%;
    }

    .elementor-53 .elementor-element.elementor-element-947379a {
        width: 78.454%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-53 .elementor-element.elementor-element-b191662 {
        width: 16%;
    }

    .elementor-53 .elementor-element.elementor-element-947379a {
        width: 80%;
    }
}